.header{
    width: 100%;
    height: 130px;
}
nav  ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav li > a{
   text-decoration: none;
}
/* main section */
.play{
    height: 500px;
    background-color: #F144AE0D;
    padding-left: 150px;
    padding-top: 100px;
}
.btn-1{
   background-color:  palevioletred; 
   border-radius: 48px;
   color: rgb(233, 252, 252);
   padding: 10px 20px;
   border: none;
}
.btn-2{
    background-color:  
    skyblue; 
       border-radius: 48px;
       color: rgb(233, 252, 
    252);
       padding: 10px 20px;
       border: none;
}
.section-1{
    display: flex;
    gap: 60px;
}
.img-1{
    margin-bottom: 70px;
}
/* section-2 */
.section-2{
    height: 800px;
}
.funny{
    text-align: center;
}
.images-4{
    display:flex;
    gap: 15px;
    margin-left: 100px;
    width: auto;
    height: 400px;
}